In [1]:
import numpy as np
import pandas as pd
pd.__version__

'2.0.3'

#Loading the data

In [4]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/ames-housing-dataset.zip'
#url = 'data/ames-housing-dataset.zip'

df = pd.read_csv(url, engine = 'pyarrow', dtype_backend = 'pyarrow')

In [5]:
#shape of the database

df.shape

(2930, 82)

In [6]:
#first few rows of the data

df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141,31770,Pave,NA,IR1,Lvl,...,0,NA,NA,NA,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80,11622,Pave,NA,Reg,Lvl,...,0,NA,MnPrv,NA,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81,14267,Pave,NA,IR1,Lvl,...,0,NA,NA,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93,11160,Pave,NA,Reg,Lvl,...,0,NA,NA,NA,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74,13830,Pave,NA,IR1,Lvl,...,0,NA,MnPrv,NA,0,3,2010,WD,Normal,189900

In [7]:
# summary statistics of the data

df.describe()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [9]:
#gives the index of panda series

df.dtypes

Order              int64[pyarrow]
PID                int64[pyarrow]
MS SubClass        int64[pyarrow]
MS Zoning         string[pyarrow]
Lot Frontage       int64[pyarrow]
                       ...
Mo Sold            int64[pyarrow]
Yr Sold            int64[pyarrow]
Sale Type         string[pyarrow]
Sale Condition    string[pyarrow]
SalePrice          int64[pyarrow]
Length: 82, dtype: object

In [10]:
df.select_dtypes(object)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2930 rows x 0 columns]

In [11]:
df.select_dtypes('string')#or 'strings[pyarrow]'

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,NA,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,P,NA,NA,NA,WD,Normal
1,RH,Pave,NA,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,NA,MnPrv,NA,WD,Normal
2,RL,Pave,NA,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NA,NA,Gar2,WD,Normal
3,RL,Pave,NA,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,Y,NA,NA,NA,WD,Normal
4,RL,Pave,NA,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,NA,MnPrv,NA,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,RL,Pave,NA,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Detchd,Unf,TA,TA,Y,NA,GdPrv,NA,WD,Normal
2926,RL,Pave,NA,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,Unf,TA,TA,Y,NA,MnPrv,NA,WD,Normal
2927,RL,Pave,NA,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,NA,NA,NA,NA,Y,NA,MnPrv,Shed,WD,Normal
2928,RL,Pave,NA,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NA,NA,NA,WD,Normal
2929,RL,Pave,NA,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,Fin,TA,TA,Y,NA,NA,NA,WD,Normal

In [12]:
df.select_dtypes('string').describe().T

               count unique      top  freq
MS Zoning       2930      7       RL  2273
Street          2930      2     Pave  2918
Alley           2930      3       NA  2732
Lot Shape       2930      4      Reg  1859
Land Contour    2930      4      Lvl  2633
Utilities       2930      3   AllPub  2927
Lot Config      2930      5   Inside  2140
Land Slope      2930      3      Gtl  2789
Neighborhood    2930     28    NAmes   443
Condition 1     2930      9     Norm  2522
Condition 2     2930      8     Norm  2900
Bldg Type       2930      5     1Fam  2425
House Style     2930      8   1Story  1481
Roof Style      2930      6    Gable  2321
Roof Matl       2930      8  CompShg  2887
Exterior 1st    2930     16  VinylSd  1026
Exterior 2nd    2930     17  VinylSd  1015
Mas Vnr Type    2930      6     None  1752
Exter Qual      2930      4       TA  1799
Exter Cond      2930      5       TA  2549
Foundation      2930      6    PConc  1310
Bsmt Qual       2930      7       TA  1283
Bsmt Cond       2930      7       TA  2616
Bsmt Exposure   2930      6       No  1906
BsmtFin Type 1  2930      8      GLQ   859
BsmtFin Type 2  2930      8      Unf  2499
Heating         2930      6     GasA  2885
Heating QC      2930      5       Ex  1495
Central Air     2930      2        Y  2734
Electrical      2930      6    SBrkr  2682
Kitchen Qual    2930      5       TA  1494
Functional      2930      8      Typ  2728
Fireplace Qu    2930      6       NA  1422
Garage Type     2930      7   Attchd  1731
Garage Finish   2930      5      Unf  1231
Garage Qual     2930      7       TA  2615
Garage Cond     2930      7       TA  2665
Paved Drive     2930      3        Y  2652
Pool QC         2930      5       NA  2917
Fence           2930      5       NA  2358
Misc Feature    2930      6       NA  2824
Sale Type       2930     10      WD   2536
Sale Condition  2930      6   Normal  2413

In [13]:
(df
.select_dtypes('string')
.memory_usage(deep = True)
. sum()
)

957291

In [14]:
(df
 .select_dtypes('string')
 .astype('category')
 .memory_usage(deep = True)
 .sum()

)

139037